run = "start"
modules = ["python-3.11"]
[nix]
channel = "stable-24_05"
packages = ["bash", "glibcLocales", "streamlit"]

[deployment]
run = ["sh", "-c", "start"]

[workflows]
runButton = "Run Streamlit App"

[[workflows.workflow]]
name = "Run Streamlit App"
author = 44549535
mode = "sequential"

[[workflows.workflow.tasks]]
task = "packager.installForLanguage"
args = "nix"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Streamlit App"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run app.py --server.address=0.0.0.0 --server.port=5000 --server.headless=true"

[[ports]]
localPort = 5000
externalPort = 80
